  #search_blogs{
    width: 100%;
    height: 10%;
    background-color: #3c3e44;
    min-height: 60px;
    position: relative;
}

#search{
    position: absolute; 
    top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);
    height: 35px;
    margin-left: 16%;
    padding-left: 10px;
    width: 35%;min-width: 100px;
    background-color: #403f46;	
	box-shadow: 0 0.2px 0.8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search_bar{
    font-size: 16px;
    border: 0px solid #00000000;
    padding-left: 10px;
    height: 25px;
    width: 80%;
    min-width: 60px;
    background-color: #403f46;
    color: #ffffff;
    margin-top: 5px;
    float: left;
    padding-right: 10px;
}

#search_icon{
    width: 25px;
    height: 25px; 
    margin-left: 10px; 
    margin-top: 5px;
}
#blog{
    position: absolute;
    top: 20%;
    right: 10px;
    background-color: #6c6d74;
    width: 15%;
    min-width: 80px;
    height: 40px;
    float: right;
    margin-right: 20px;
    color:#ffffff;
    min-width: 200px;
}

#nav_bar{
    position: absolute;
    width: 15%;
    border-top-right-radius: 30px;
    height: 100%;
    margin-top: -70px;
    border-bottom-right-radius: 30px;
    background-color: #1a1818 !important;
    float: left;
    min-height: 560px;
}

.navigation{
background-color: #1a1818 !important;
color: #676566;
float: right;
width: 200px;
height: 40px;
}

.navigationpar{
    float: left;
    font-size: 12px;
    height: 25.8px;
    width: 143px;
    background-color: #1a1818;
    padding-top: 14px;
    padding-left: 10px;
} 
.navigationimg{
    height: 37px;
    width: 37px;
    float: left;
    padding-left:10px;
    padding-top: 2px;
    opacity: 0;
}

#homeimg{
    height: 30px;
    width: 30px;
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}
#homepar{
    float: left;
    margin-left: 15px;
    font-size: 15px;
    margin-top: 10px;
}








