html,
body {
  height: 100%;
  background-color: #f5f7fb;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c6d74;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6d74;
}
.ontop {
  display: none;
}
#popup {
  width: 300px;
  height: 200px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  /* To align popup window at the center of screen*/
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

body {
  background-color: #f5f7fb;
  overflow: auto;
  position: relative;
}
.filter_icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  padding: 5px;
  background-color: #d4547f;
  margin-left: 20px;
  float: left;
}
.outer_div {
  margin-top: 10px;
  width: 80%;
  margin-left: 65px;
  height: 40px;
}
.tags {
  height: 25px;
  width: 250px;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 20px;
  color: #c1c1c1;
  font-size: 15px;
  padding-left: 10px;
  background-color: #ffffff;
  padding-top: 5px;
  box-shadow: 0 0.1px 0.2px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
  float: left;
}
.tcf_feed {
  height: 29px;
  width: 200px;
  margin-top: 9px;
  margin-right: 20px;
  margin-left: 20px;
  color: #c1c1c1;
  font-size: 14px;
  padding-left: 10px;
  background-color: #ffffff;
  padding-top: 5px;
  box-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  float: left;
  border: 0px solid #00000000;
}
.sign_in {
  float: right;
  width: 200px;
  height: 20px;
  padding: 10px;
  background-color: #f5eeee;
  margin-right: 20px;
  margin-top: -30px;
}
.sign_in a {
  font-size: 18px;
  text-decoration: none;
  color: #837263;
}
.blog_section {
  float: left;
  width: 71%;
  height: 89%;
  min-width: 100px;
  border-top: 1px solid #eef0f4;
  overflow: auto;
}
.blog {
  height: 200px;
  width: 95%;
  background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1.5px solid #9e9fa0;
  background-color: #ffffff;
}
.blog_section .blog img {
  border-radius: 50%;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  height: 60px;
  width: 66px;
}
.blog_text {
  font-size: 30px;
  float: left;
  margin-left: 25px;
  margin-top: 13px;
}
.text_simple {
  background-color: #ffffff;
  font-size: 15px;
  color: black;
  height: 33px;
  width: 15%;
  border-color: #00000000;
  resize: none;
  font-family: aerial;
}
.read_more_link {
  margin-left: 15px;
  color: blue;
  text-decoration: none;
}
.notice_section {
  float: right;
  width: 25%;
  min-width: 100px;
  background-color: #ffffff;
  height: 60%;
  border: 1.5px solid #bbbcbe;
  margin-right: 20px;
  background-color: #ffffff;
  overflow: auto;
}
.notice {
  width: 90%;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
  background-color: #ffffff;
  border: 1.5px solid #a09b9c;
  border-radius: 15px;
  box-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.notice_heading {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  color: #ffffff;
  background-color: #2c292a;
  padding-top: 20px;
}
.notice_name {
  color: #343436;
  width: 100%;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
}
.notice_tag {
  font-size: 12px;
  color: #4c4c4c;
  border-color: #00000000;
  font-family: aerial;
  background-color: #ffffff;
  margin-top: 0px;
  margin-left: 10px;
}
.notice_content {
  font-size: 12px;
  color: #4c4c4c;
  border-color: #00000000;
  font-family: aerial;
  line-height: 12px;
  background-color: #ffffff;
  margin-left: 10px;
}
.social_section {
  float: right;
  background-color: #ffffff;
  width: 25%;
  min-width: 100px;
  height: 28%;
  margin-top: 15px;
  margin-right: 20px;
  border: 2px solid #bbbcbe;
  border-radius: 20px;
}
.social_section p {
  width: 100%;
  text-align: center;
  height: 16px;
  font-size: 16px;
  color: #4c4c4c;
  margin-top: 6px;
}
.social_section img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 8px;
  background-color: #2b2725;
}
.login_div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  height: 500px;
  width: 400px;
  background-color: #efefef;
  margin-left: 23%;
}
.login_labels {
  margin-left: -30px;
  margin-bottom: -5px;
}
.login_head {
  font-size: 30px;
  color: black;
  float: left;
  margin-top: 10px;
  margin-left: 25px;
}
.btn_close {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #efefef;
}
.email_text {
  font-size: 25px;
  margin-left: -90px;
  margin-top: 150px;
  float: left;
}
.pass_text {
  font-size: 25px;
  margin-left: 30px;
  float: left;
}
.login_input {
  width: 88%;
  height: 35px;
  font-size: 18px;
  padding-left: 5px;
  background-color: white;
  color: black;
  margin-left: 18px;
  margin-top: -30px;
}
.login_btn {
  font-size: 25px;
  height: 50px;
  width: 50%;
  color: #f6f7fb;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #3d3e43;
  margin-top: 40px;
  margin-bottom: 30px;
}
.signup_div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  height: 500px;
  width: 510px;
  margin-left: 23%;
  overflow: auto;
  background-color: #f6f7fc;
}
.signup_head {
  font-size: 30px;
  color: black;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.input_half {
  margin-left: -80px;
  margin-top: 70px;
  padding-left: 10px;
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  width: 40%;
  background-color: white;
  color: black;
}
.input_half_2 {
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 70px;
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  width: 40%;
  background-color: white;
  color: black;
}
.input_full {
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 30px;
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  width: 88%;
  background-color: white;
  color: black;
}
